src/main/resources/employee.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="department" type="xs:string"/>
                <xs:element name="dateOfJoining" type="xs:date"/>
                <xs:element name="phone" type="xs:string"/>
                <xs:element name="designation" type="xs:string"/>
                <xs:element name="salary" type="xs:double"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>